pytest==2.3.4
fastapi
uvicorn
python-multipart
paramiko
runipy

tensorflow==2.3.1
scipy
numpy
glob2
opencv-python
cvlib==0.2.5
opencv-python-headless==4.4.0.46
Pillow==8.0.1
nest-asyncio==1.5.1
jupyterlab==3.0.5
nibabel
